body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: url(../img/bg.jpg) center/cover;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}
.back-arrow img {
    width: 20%; 
    height: auto;
    transition: transform 0.3s;
}
.back-arrow:hover img {
    transform: scale(1.1);
}


.search-container, .sort-container {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
