body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: url(../img/bg.jpg) center/cover;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.back-arrow img {
    width: 20%;
    height: auto;
    transition: transform 0.3s;
}

.back-arrow:hover img {
    transform: scale(1.1);
}

.logo {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 10%;
    height: auto;
}

.search-container, .sort-container, table {
    background-color: #eafd7df5; 
    border: 4px solid #ffc800;
    border-radius: 10px; 
    padding: 20px; 
    margin-top: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.505);
    width: calc(100% - 40px); 
    box-sizing: border-box; 
}

.search-container {
    margin-top: 120px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.sort-container {
    display: flex;
    justify-content: center; 
    gap: 10px;
}

table {
    margin-top: 20px; 
    border-collapse: separate; 
    border-spacing: 0; 
}

th, td {
    border-bottom: 3px solid #ff5500; 
    padding: 8px;
    text-align: left;
}

table td a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none; /* Enlève le soulignement */
    color: white; /* Couleur du texte */
    background-color: #007BFF; /* Couleur de fond du bouton */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s; /* Transition pour l'effet de survol */
}

table td a:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}

th {
    background-color: #ffcc00; 
    color: white;
}

input[type="text"], button {
    padding: 10px;
    border: 1px solid #ffc800;
    border-radius: 5px;
    background-color: #eade09a5; 
}

button {
    cursor: pointer; 
}

button:hover {
    background-color: #ffea02; 
}
