body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../img/bg.jpg) center/cover;
    font-family: Arial, sans-serif;
    position: relative; /* Ajouté pour permettre le positionnement absolu de .logo */
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px; /* Ajustez la taille selon vos besoins */
    height: auto;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.back-arrow img {
    width: 20%; 
    height: auto;
    transition: transform 0.3s;
}

.back-arrow:hover img {
    transform: scale(1.1);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center; /* Modifié pour centrer le conteneur */
    width: 100%;
    max-width: 800px;
    padding: 0 20px; /* Ajouté pour un peu de marge autour du conteneur */
}

.level-buttons {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center; /* Ajouté pour centrer les boutons de niveau */
}

.level-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.level-link img {
    width: 100px; /* ou la taille souhaitée */
    height: auto;
    transition: transform 0.3s;
}

.level-link span {
    color: white;
    font-size: 1.2em;
    padding-top: 10px;
}

.level-link:hover img {
    transform: scale(1.1);
}

.arrow {
    width: 15%;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}

.arrow.disabled {
    opacity: 0.5;
    cursor: default;
}
