body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../img/bg.jpg) center/cover;
    font-family: Arial, sans-serif;
}

.back{
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    user-select: none;    
}

.back-arrow {
    display: contents;
}
.back-arrow img {
    width: 20%; 
    height: auto;
    transition: transform 0.3s;
    cursor: pointer;
}
.back-arrow:hover img {
    transform: scale(1.1);
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}
.level-buttons {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.level-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.level-link img {
    width: 100px; /* ou la taille souhaitée */
    height: auto;
    transition: transform 0.3s;
}

.level-link span {
    color: white;
    font-size: 1.2em;
    padding-top: 10px;
}

.level-link:hover img {
    transform: scale(1.1);
}

.arrow {
    width: 15%;
    font-size: 2em;
    cursor: pointer;
    user-select: none;
}
.arrow.disabled {
    opacity: 0.5;
    cursor: default;
}