@font-face {
    font-family: 'Pirate'; /* Nom de la police */
    src: url(../font/Pieces\ of\ Eight.ttf) format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

html,body{
    overflow: hidden;
}

body{
    background: url(../img/piratebois.jpg) center/cover no-repeat;
    min-height: 100vh;
    text-align: center;
    color: white;
    font-family: 'Pirate', Arial, sans-serif;
}

#calliste{
    width: 90%;
    margin: auto;
    margin-top: -3%;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    margin-top: 60px;
    margin-bottom:80px;
    position: relative;
    text-align: center;
    clear:both;
}

.txt {
    position: absolute;
    font-size: 23px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    text-shadow: 2px 2px 2px black;
} 
h2{
    font-size: 35px;
    text-shadow: 2px 2px 2px white;
    color: black;
}

.creationa{
    margin-left:7%;
    width:35%;
    position:relative;
    float:left;
    text-decoration: none;
    margin-top: -5%;
}

.creationa h2{
    position: relative;
    bottom : 32px;
}

.creationm h2{
    position: relative;
    bottom : 32px;
}

.creationm{
    margin-right:7%;
    width:35%;
    position:relative;
    float:right;
    text-decoration: none;
    margin-top: -5%;
}
.imgmanuel{
    border-bottom : 2px solid black;
    border-right : 2px solid black;
}
.imgalea{
    border-bottom : 2px solid black;
    border-right : 2px solid black;
}

@keyframes rotation1 {

    from {
    transform: rotate(0deg);
    margin-left:18%;}
  
    to {
    transform: rotate(50deg);
    margin-left:20%;}
  
  }
@keyframes rotation {
    from {
    transform: rotate(0deg);
    margin-left:18%;}
    to {
    transform: rotate(-50deg);
    margin-left:20%;}
  }
@keyframes rotation2 {
    from {
    transform: rotate(50deg);
    margin-left:20%;}
    to {
    transform: rotate(0deg);
    margin-left:18%;}
  }
@keyframes rotation3 {

    from {
    transform: rotate(-50deg);
    margin-left:20%;}
  
    to {
    transform: rotate(0deg);
    margin-left:18%;}
  
  }
.creationa:hover .sword,.creationm:hover .sword{
    animation: rotation 0.3s ease-in-out forwards alternate;
}
.creationa:hover .sword1,.creationm:hover .sword1{
    animation: rotation1 0.3s ease-in-out forwards alternate;
}
.creationa:not(:hover) .sword1,.creationm:not(:hover) .sword1{
    animation: rotation2 0.3s ease-in-out forwards alternate;
}
.creationa:not(:hover) .sword,.creationm:not(:hover) .sword{
    animation: rotation3 0.3s ease-in-out forwards alternate;
}

@keyframes grand {
    from {width : 80%;} 
    to {
    width : 85%;
    border:outset 3px #e99210;}
}
@keyframes grand1 {
    from {
    width : 85%;
    border:outset 3px #e99210;} 
    to {width : 80%}
}
.creationa:hover .imgalea,.creationm:hover .imgmanuel{
    animation: grand 0.3s ease-in-out forwards alternate;
}
.creationa:not(:hover) .imgalea,.creationm:not(:hover) .imgmanuel{
    animation: grand1 0.3s ease-in-out forwards alternate;
}

.sword, .sword1{
    z-index:-1;
    position:absolute;
    width:45%;
    top:-50px;
    margin-left:20%;
}