
table {
    border-collapse: collapse;
    width: auto;
}

th, td {
    border: 1px solid black;
    width: 37px;
    height: 37px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td{
    background-image: url('../pixel_art_projet/32x32/ocean.png');
}

img{
    width: 32px;
    height: 32px;
}