body {
    display: flex;
    font-family: Arial, sans-serif;
    background: url("../img/simplified_pirate_background.png") center/cover;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.level-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    transition: margin-top 0.5s;
}

.level-container.lowered {
    margin-top: 20%;
}

.grid-container {
    border: 3px solid #000;
    padding: 10px;
    transition: margin-top 0.5s;
}

.form-container, #level-form {
    background-color: #f2f2f2;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.input-group, .input-buttom {
    text-align: center;
    margin-bottom: 3%;
}

.input-group img, .image-label {
    vertical-align: middle;
    margin-bottom: 0;
}

.input-group input {
    width: 9%;
}

table {
    border-collapse: collapse;
    width: auto;
    margin-bottom: 10%;
}

th, td {
    border: 1px solid black;
    width: 37px;
    height: 37px;
    text-align: center;
}

td {
    background-image: url('../pixel_art_projet/32x32/ocean.png');
}

img {
    width: 32px;
    height: 32px;
}

.inventory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FFFACD;
    position: relative;
    margin-bottom: 30%;
}

.inventory-title {
    font-size: 24px;
    font-weight: bold;
    color: #FF4500;
    margin-bottom: 10px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.image-container img {
    margin: 5px;
    border: solid 1px black;
}

.trash-container {
    margin-top: 20px;
    border: 2px solid red;
    width: 32px;
    height: 32px;
    text-align: center;
}

#matrix-display {
    margin-top: 20px;
    position: absolute;
    opacity: 0;
}

.gogogo {
    position: relative;
    height: 60%;
    width: 20%;
    right: 8%;
    bottom: 0;
    margin-top: 10%;
}

.gogogo.lowered {
    margin-top: 40%;
}

.bottomc {
    position: absolute;
    bottom: 1%;
    right: -15%;
    width: 130%;
    height: 17%;
    z-index: 4;
}

@media only screen and (min-width: 1380px) {
    .bottomc {
        bottom: 2%;
    }
}

.bottomt {
    width: 120%;
    height: 17%;
    z-index: 4;
    right: -10%;
    top: -10%;
    position: absolute;
}
