@font-face {
    font-family: 'Pirate'; /* Nom de la police */
    src: url(../font/Pieces\ of\ Eight.ttf) format('opentype'); 
    font-weight: normal;
    font-style: normal;
}


html,body{
    overflow: hidden;
}

body {
    background: url(../img/bg2.jpg) center/cover no-repeat;
    background-position: center;
    max-height: 100vh;
    font-size: 40px;
    font-family: 'Pirate', Arial, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

h1{
    text-align: center;
}

img {
    width: 20%;
}

h2 {
    color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
    overflow: hidden; /* Assure que l'image agrandie reste dans les limites du conteneur */
}

.container img {
    cursor: pointer; /* Change le curseur au survol pour indiquer que l'image est cliquable */
    transition: transform 0.3s ease; /* Ajoute une transition douce lorsqu'on survole l'image */
}

.container:hover img {
    transform: scale(1.1); /* Agrandit l'image lorsque le conteneur est survolé */
}

#mot_play{
    position : relative;
    bottom : 157px;
}
.text {
    position: absolute;
    font-size: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    text-shadow: 2px 2px 2px black;
    color: white;
    pointer-events: none; /* Empêche le texte d'interférer avec le clic sur l'image */
} 

.sailor{
    position: relative;
    bottom : 250px;
    pointer-events: none;
}

.sailor img {
    width: 15%;
}

.text {
    flex: 1;
}