
html,body{
    overflow: hidden;
    margin:0%;
    height: 100%;
}
.azerty{
    position: relative;
    height: 230px;
    width: 470px;
    left: 31%;
    top:10%;
}

body {
    background: url(../img/bg2.jpg) center/cover no-repeat;
    background-position: center;
    max-height: 100vh;
    font-size: 40px;
    font-family: 'Pirate', Arial, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

h1{
    text-align: center;
}

/* img {
    width: 0%;
} */

h2 {
    color: white;
}
.image{
    width: 70px; /* Réduit la taille de l'image à 70px de largeur */
    transition: transform 0.3s ease; /* Ajoute une transition douce lorsqu'on survole l'image */
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    cursor: pointer; /* Change le curseur au survol pour indiquer que l'image est cliquable */
}

.container {
    width: 520px; /* Définit la largeur du conteneur */

    right: 26%;
    overflow: hidden; /* Assure que l'image ne dépasse pas du conteneur */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.container img {
    max-width: 40%;
    max-height: 90%;
    width: auto;
    height: auto;
    display: block;
}

.image:hover {
    transform: scale(1.1); /* Agrandit l'image lorsque le conteneur est survolé */
}

#mot_play{
    position : relative;
    bottom : 29vh;
}

.sailor{
    position: relative;
    bottom: 15vh;
    pointer-events: none;
}

.sailor img {
    width: 15%;
}

.text {
    flex: 1;
}
