.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute; 
    right: 10px; 
    top: 10px; 
}

.trash-container {
    position: absolute; 
    right: 10px; 
    top: 250px; 
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 60px; 
}

body {
    background: url(../img/bglevel2.png) center/cover;
    min-height: 100vh;
    text-align: center;
    align-items: center;
}

html, body {
    overflow-x: hidden; 
    overflow-y: hidden; 
    height: 100%; 
}

table {
    border-collapse: collapse;
}
td {
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-image: url('../pixel_art_projet/32x32/ocean.png');
}
.drop-box {
    width: 100%;
    height: 100%;
}
.image-container img {
    width: 32px;
    height: 32px;
    position: relative;
}
.counter {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
}
.hidden {
    display: none;
}

#directionBoat {
    font-weight: bold; 
    text-transform: uppercase; 
}