.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute; /* Nouveau */
    right: 10px; /* Nouveau */
    top: 10px; /* Nouveau */
}

.trash-container {
    position: absolute; /* Nouveau */
    right: 10px; /* Aligné avec l'inventaire */
    top: 250px; /* Ajustez selon la hauteur totale de l'inventaire */
    width: 60px;
    height: 60px;
    border: 2px solid red;
    text-align: center;
    line-height: 60px; /* Ajusté pour centrer verticalement l'image */
}

body {
    background: url(../img/bglevel.jpg) center/cover;
    min-height: 100vh;
}

html, body {
    overflow-x: hidden; 
    overflow-y: hidden; 
    height: 100%; 
}

table {
    border-collapse: collapse;
}
td {
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-image: url('../pixel_art_projet/32x32/ocean.png');
}
.drop-box {
    width: 100%;
    height: 100%;
}
.image-container img {
    width: 32px;
    height: 32px;
    position: relative;
}
.counter {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
}
.hidden {
    display: none;
}
