.nav-veil img{
    width: 100%;
    height: 120px;
    top: 15%;
}

.nav-veil2 img{
    width: 100%;
    height: 300px;
    top: 15%;
}

.nav-veil2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    
   
  }


#navop{
    position: relative;
}
*{
    margin: 0%;
}

.coque img{
    width: 100%;
    height: 120px;
    top: 15%;
}

#footer-yu{
    clear:both;
    bottom: 0%;
    min-width: 100%;
    margin: 0%;

}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  header {
    position: relative;
   
  }

  .nav-veil {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 1;
  }

  .nav-veil img {
    width: 100%;
    
    cursor: pointer;
  }

  .nav-veil2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 2%; /* Taille initiale de la deuxième image */
    width: 100%;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.5s ease, width 0.5s ease; /* Ajout de la transition de la taille */
  }

  .nav-veil2 img {
    width: 100%;
   
  }

  .show {
    opacity: 1;
    width: 100%; /* Taille de la deuxième image lorsque la première est cliquée */
  }