@font-face {
    font-family: 'Pirate'; /* Nom de la police */
    src: url(../font/Pieces\ of\ Eight.ttf) format('opentype'); 
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0%;

}
body,html{
    background: url(../img/fond_regles.jpg);
    height: 100%;
    width: 100%;
}

div{
    height: 100%;
    display: grid;
    grid-template-columns: 10% 85% 5%;
    grid-template-rows: 10% 50% 10%;
    grid-template-areas: "rien sept rien2"
                        "capitaine titre cinq"
                        "mot regles huit"; 
}

h1{
    text-align: center;
    font-family: 'Pirate', Arial, sans-serif;
    margin-top : 4%;
    grid-area: titre;
}

img{
    grid-area: titre;
    margin-left: auto;
    margin-right: auto;
}

dl{
    margin-top : -15%;
    text-align: center;
    font-family: 'Pirate', Arial, sans-serif;
    font-size: 23px;
    grid-area: regles;
}

#capitaine{
    grid-area: capitaine;
    margin-top: 90%;
    width: 450px;
}

#mot{
    grid-area : mot;
}

#retour{
    position : relative;
    top : -98vh;
    left: 1vw;
    grid-area: rien;
    text-decoration: none;
    color: black;
}

#img_retour:hover{
    transform: scale(1.07);
    transition: transform 0.3s ease;
}

