@font-face {
    font-family: 'Pirate'; /* Nom de la police */
    src: url(../font/Pieces\ of\ Eight.ttf) format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

html,body{
    overflow: hidden;
}

body{
    background: url(../img/fond.gif) center/cover ;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

#voile2{
    display: none;
}

#voile1{
    display: revert;
}

.tete:hover #voile1{
    display: none;

}

.tete:hover #voile2{
    display: revert;
}

#voile4{
    display: none;
}
#voile3{
    display: revert;
}

.tete2:hover #voile3{
    display: none;
}

.tete2:hover #voile4{
    display: revert;
}

.voile{
    display: flex;
    margin-left: 10%;
}

.voile img{
    width: 65%;
    height: auto;
}

.tete{
    margin-top: 6%;
}

.tete2{
    margin-left: -15%;
    margin-right: 15%;
}

#coque img{
    position: absolute;
    width: 65%;
    top: 40%;
}

#coque{
    padding-bottom: 50px;
    margin-left: 10%;
}

#bateau{
    margin-bottom: 12%;
}


.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
}

.overlay-text a{
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 250%; /* Ajustez selon vos besoins */
    font-family: 'Pirate', Arial, sans-serif;
    text-decoration: none;
}

.overlay-text a:hover {
    cursor: pointer;
    color: red;
}


#retour{
    position : relative;
     top : -104vh;
    grid-area: rien;
    text-decoration: none;
    color: black;
}

#img_retour:hover{
    transform: scale(1.07);
    transition: transform 0.3s ease;
}
