/* style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #0a75f8; */
}
#fullscreenBtn{
    top:0;  
    position:absolute;
    background:url(fullscreen.png)center/cover;
    right :0;
    height:40px;
    width:50px;
    margin:15px;
}
#game-container {
    
    top:50px;
    clear:both;
    position: relative;
    width: 512px; /* 16 * 32px */
    height: 512px; /* 16 * 32px */
}

#tile-grid {
    display: grid;
    grid-template-columns: repeat(16, 32px);
    grid-template-rows: repeat(16, 32px);
    border: 2px solid black; /* Bordure externe de la grille */
}

.tile {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black; /* Bordures internes de la grille */
}

#character {
    position: absolute;
    width: 32px;
    height: 32px;
    transition: top 0.1s, left 0.1s;
}
